.work-wrapper {
  background: linear-gradient(135deg, #8b5cf6 0%, #c084fc 40%, #f3d3c1 100%);
  padding: 4rem;
  position: relative;

  clip-path: polygon(
    100% 0,
    100% 35%,
    100% 90%,
    65% 91%,
    53% 99%,
    0 100%,
    0 10%,
    31% 9%,
    44% 0
  );
  border-radius: 32px;
}

@media screen and (max-width: 700px) {
  .work-wrapper {
    clip-path: none;
    border-radius: 24px; /* optional, keeps it clean on mobile */
  }
}
.ImgOne {
  clip-path: polygon(47% 0, 100% 1%, 100% 100%, 0 100%, 0 17%, 34% 16%);
}

.ProjectImageClipPath {
 clip-path: polygon(50% 0%, 100% 0, 100% 35%, 100% 88%, 55% 89%, 47% 100%, 0 100%, 0% 35%, 0 0);
 box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1);
}

.MainSectionInWork {
  clip-path: polygon(100% 0, 100% 100%, 45% 100%, 40% 94%, 0 94%, 0% 35%, 0 0);
}

.TestimonialCard {
  clip-path: polygon(50% 0%, 63% 17%, 100% 17%, 100% 100%, 0 100%, 0 0);
}

.OurColloborativeClipPath {
  clip-path: polygon(
    70% 10%,
    76% 24%,
    100% 24%,
    100% 70%,
    100% 100%,
    50% 100%,
    0 100%,
    0 0,
    41% 0,
    48% 9%
  );
}

.FooterClipPath{
  clip-path: polygon(56% 0, 72% 40%, 100% 40%, 100% 70%, 100% 100%, 50% 100%, 0 100%, 0% 70%, 0% 35%, 0 0);
}

