@import "tailwindcss";
body {
  box-sizing: border-box;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* HTML: <div class="inverted-radius"></div> */
.inverted-radius {
  --r: 100px;
  --s: 30px;
  --x: 70px;
  --y: 50px;

  width: 500px;
  aspect-ratio: 1;
  z-index: 1;
  background: #3fb8af;
  border-radius: var(--r);
  clip-path: polygon(
    78.5% 0.46%,
    100% 0.75%,
    100% 100%,
    0% 100%,
    0% 51.56%,
    20.46% 48.81%,
    20.46% 26%,
    36.94% 26%,
    36.94% 11.65%,
    53.18% 10.86%,
    57% 0.17%
  );
  background-color: #d8c4c4;
  mask-repeat: no-repeat;
}
